<div
  class="card"
  *ngFor="let card of items; let cardIndex = index"
  cdkDrag
  [cdkDragData]="card"
>
  <div class="item-custom-placeholder" *cdkDragPlaceholder></div>
  <div style="display: flex; flex-direction: column; width: 83%;
  

  justify-content: space-between;
  min-height: 110px;">
    <span
      style="
        margin-bottom: 15px;
        font-size: 17px;
        font-weight: 800;
        color: #12203e;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
      "
      >{{ card.title }}</span
    >
    <span
      style="
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        margin-top: -12px;
      "
      >{{ card.description }}</span
    >
    <div style="margin-top: 15px; display: flex; flex-direction: column">
      <mat-progress-bar
        mode="determinate"
        value="{{ randomNum }}"
      ></mat-progress-bar>
      <span style="align-self: flex-end; font-size: 11px; margin-top: 2px"
        >2/12</span
      >
    </div>
  </div>
  <div
    style="
      min-height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    "
  >
    <button
      (click)="details(card)"
      class="button-standard-item"
      style="padding: 5px"
    >
      <mat-icon [ngStyle]="{ color: '#4379d3' }">remove_red_eye</mat-icon>
    </button>
    <button
      (click)="edit(card)"
      class="button-standard-item"
      style="padding: 5px; margin: 10px 0;"
    >
      <mat-icon [ngStyle]="{ color: '#4379d3' }">edit</mat-icon>
    </button>
    <button
      (click)="deleteItem(card)"
      class="button-standard-item"
      style="padding: 5px; background-color: #fcedef"
    >
      <mat-icon [ngStyle]="{ color: '#d3434a' }">delete_forever</mat-icon>
    </button>
  </div>
</div>
