<div class="fixActionRow">
  <h1 mat-dialog-title>New Item</h1>
  <div style="margin-top: 5px" mat-dialog-content>
    <div class="grid">
      <div
        style="
          font-size: 18px;
          font-weight: 700;
          padding: 10px 0;
          align-self: center;
        "
      >
        Title
      </div>

      <input
        placeholder="Title"
        style="
          outline: none;
          width: 95%;
          height: 45px;
          padding-left: 10px;

          background-color: #edf2fc;
          color: #000;
          border-radius: 4px;
          border: none;
        "
        [(ngModel)]="data.title"
      />
      <div
        style="
          font-size: 18px;
          font-weight: 700;
          padding: 10px 0;
          align-self: center;
        "
      >
        Description
      </div>

      <textarea
        style="
          outline: none;
          border: none;
          width: 95%;
min-height: 150px;
          padding-left: 10px;
          color: #000;
          background-color: #edf2fc;
          border-radius: 4px;
          line-height: 1.4;
        "
        [(ngModel)]="data.description"
      ></textarea>
    </div>
  </div>

  <div class="spacer"></div>

  <div mat-dialog-actions align="end">
    <button
      style="margin-right: 10px"
      class="button-standard-item"
      (click)="onNoClick()"
    >
      Cancel
    </button>
    <button
      class="button-standard-item"
      [mat-dialog-close]="data"
      cdkFocusInitial
    >
      Add
    </button>
  </div>
</div>
