<div style="padding: 20px">
  <button (click)="openDialog()" class="button-standard-item">
    + New Board
  </button>
  <mat-spinner *ngIf="boards.length === 0 && loading"></mat-spinner>
  <div
    style="display: flex; flex-direction: row"
    *ngIf="boards.length !== 0 && !loading"
  >
    <div
      routerLink="/home/board/{{ board.id }}"
     class="board"
      *ngFor="let board of boards"
    >
      {{ board.title }}
      <span
        (click)="deleteBoard(board.id, board)"
        style="font-size: 24px; font-weight: 800"
        >x</span
      >
    </div>
  </div>
</div>
