.container {
  height: calc(100vh - 150px);
  display: flex;
  overflow-x: auto;
}
.list {
  width: 350px;
  min-height: 60px;
  margin: 10px 15px;
  display: block;
  background-color: #f3f4fb;
  border-radius: 8px;
  overflow: hidden;
}
.list-header {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 60px;
  background-color: #fff;
  margin: 0 15px 30px 15px;
  border-radius: 8px;
  overflow: hidden;
}
.list-container {
  cursor: grab;
  margin-bottom: 30px;
}
