<div style="margin: 20px">
  <button class="button-standard-item">+ New List</button>

  <div *ngIf="board?.lists?.length === 0 && loading">Loading</div>
  <div
    style="
      margin-top: 20px;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
    "
    *ngIf="board?.lists?.length === 0"
  >
    No lists baby
  </div>
  <div
    style="
      margin-top: 20px;
      padding-bottom: 20px;
      overflow-x: auto;
      height: calc(100vh - 125px);
    "
    *ngIf="board?.lists?.length !== 0 && !loading"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumns($event)"
  >
    <div cdkDropListGroup class="container" cdkScrollable>
      <div class="list-container" *ngFor="let item of board.lists" cdkDrag>
        <div
          class="custom-placeholder"
          style="border-color: red"
          *cdkDragPlaceholder
        ></div>
        <div class="list-header">
          <div style="font-weight: 600; font-size: 20px">{{ item.title }}</div>
          <button class="button-standard-item">+ New Item</button>
        </div>
        <div
          [id]="item.id.toString()"
          cdkDropList
          [cdkDropListData]="item.items"
          class="list"
          (cdkDropListDropped)="drop($event)"
        >
          <app-kanban-item [item]="item"></app-kanban-item>
        </div>
      </div>
    </div>
  </div>
</div>
