<div style="margin: 20px">
  <button class="button-standard-item" (click)="addList()">
    + New List
  </button>
  <mat-spinner  *ngIf="loading"></mat-spinner>
  <div *ngIf="board?.lists?.length === 0 && loading">Loading</div>
  <div
    style="
      margin-top: 20px;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      font-weight: bold;
    "
    *ngIf="board?.lists?.length === 0"
  >
  :(
  </div>
  <div
    style="
      margin-top: 20px;
      padding-bottom: 20px;
      overflow-x: auto;
      height: calc(100vh - 125px);
    "
    *ngIf="board?.lists?.length !== 0 && !loading"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropColumns($event)"
  >
  <app-kanban-list [board]="board"></app-kanban-list>
  </div>
</div>
