<div
  cdkDropListGroup
  class="column"
  *ngFor="let column of board?.lists"
  cdkDrag
  [cdkDragData]="column"
>
  <div cdkDragHandle class="card-header">
    <div style="font-weight: 600; font-size: 20px; display: flex; flex-direction: row; align-items: center;">{{ column.title }}    <div class="button-standard-item" style="padding: 5px 10px; margin-left: 12px;">{{column.cards.length.toString()}}</div></div>

    <div style="display: flex; align-items: center">
      <button
        (click)="addItem(column.id)"
        class="button-standard-item"
        style="margin-right: 10px"
      >
        + New Item
      </button>
      <button
        (click)="deleteList(board.id, column)"
        class="button-standard-item"
        style="padding: 5px; background-color: #fcedef"
      >
        <mat-icon [ngStyle]="{ color: '#d3434a' }">delete_forever</mat-icon>
      </button>
    </div>
  </div>
  <div
    cdkDropList
    [id]="column.id"
    class="card-container"
    [cdkDropListData]="column.cards"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="getConnectedList()"
  >
    <div
      style="padding: 10px; text-align: center"
      *ngIf="column.cards.length === 0"
    >
      I am empty:/
    </div>
    <app-kanban-item [items]="column.cards"></app-kanban-item>
  </div>
</div>