<div class="app-side-bar">
    <div style="font-size: 40px; font-weight: 700; color: black">Mons</div>

    <ul>
        <li>
            <button class="button-new-item" style="padding: 15px 15px; width: 100%">
                Kanban
            </button>
        </li>
        <li>
            <button class="button-new-item" style="padding: 15px 15px; width: 100%">
                Kanban
            </button>
        </li>
        <li>
            <button class="button-new-item" style="padding: 15px 15px; width: 100%">
                Kanban
            </button>
        </li>
        <li>
            <button class="button-new-item" style="padding: 15px 15px; width: 100%">
                Kanban
            </button>
        </li>
        <li>
            <button class="button-new-item" style="padding: 15px 15px; width: 100%">
                Kanban
            </button>
        </li>
    </ul>
    <i routerLink="edit" class="fa fa-cog" style="position: fixed; bottom: 30px; font-size: 40px; color: white"></i>
</div>
